---
import TerminalShell from '../layouts/TerminalShell.astro';
import HomeScreen from '../components/screens/HomeScreen.astro';
import AboutScreen from '../components/screens/AboutScreen.astro';
import GettingStartedScreen from '../components/screens/GettingStartedScreen.astro';
import PluginsScreen from '../components/screens/PluginsScreen.astro';
import PipelinesScreen from '../components/screens/PipelinesScreen.astro';
import ChangelogScreen from '../components/screens/ChangelogScreen.astro';
import ThemesScreen from '../components/screens/ThemesScreen.astro';
---
<TerminalShell title="Home">
  <section data-screen="home" class="screen">
    <HomeScreen />
  </section>
  <section data-screen="about" class="screen">
    <AboutScreen />
  </section>
  <section data-screen="getting-started" class="screen">
    <GettingStartedScreen />
  </section>
  <section data-screen="plugins" class="screen">
    <PluginsScreen />
  </section>
  <section data-screen="pipelines" class="screen">
    <PipelinesScreen />
  </section>
  <section data-screen="changelog" class="screen">
    <ChangelogScreen />
  </section>
  <section data-screen="themes" class="screen">
    <ThemesScreen />
  </section>
</TerminalShell>
