---
---
<div class="help-overlay" id="help-overlay" role="dialog" aria-modal="true" aria-label="Keyboard shortcuts">
  <pre class="fg-purple" style="font-size:14px;margin-bottom:8px">
&#9556;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9559;
&#9553;           ORCAI ABBS  //  KEYBOARD REFERENCE         &#9553;
&#9560;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9563;
&#9553;                                                      &#9553;
&#9553;  GLOBAL                                              &#9553;
&#9553;  &#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;              &#9553;
&#9553;  <span class="fg-yellow">1</span>  HOME      <span class="fg-yellow">2</span>  ABOUT     <span class="fg-yellow">3</span>  GET STARTED      &#9553;
&#9553;  <span class="fg-yellow">4</span>  PLUGINS   <span class="fg-yellow">5</span>  PIPELINES <span class="fg-yellow">6</span>  CHANGELOG        &#9553;
&#9553;  <span class="fg-yellow">7</span>  THEMES                                          &#9553;
&#9553;                                                      &#9553;
&#9553;  <span class="fg-yellow">?</span>  / <span class="fg-yellow">F1</span>  Toggle this help screen                   &#9553;
&#9553;  <span class="fg-yellow">q</span>  / <span class="fg-yellow">ESC</span>  Disconnect (fade animation)               &#9553;
&#9553;                                                      &#9553;
&#9553;  PIPELINES SCREEN                                    &#9553;
&#9553;  &#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;              &#9553;
&#9553;  <span class="fg-yellow">r</span>  Replay YAML pipeline demo                        &#9553;
&#9553;                                                      &#9553;
&#9553;                         <span class="fg-comment">press ? or ESC to close</span>       &#9553;
&#9562;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9565;</pre>
</div>
