---
const navItems = [
  { label: '[1] ORCAI ABBS', screen: 'home', brand: true },
  { label: '[2] ABOUT',      screen: 'about' },
  { label: '[3] GET STARTED',screen: 'getting-started' },
  { label: '[4] PLUGINS',    screen: 'plugins' },
  { label: '[5] PIPELINES',  screen: 'pipelines' },
  { label: '[6] CHANGELOG',  screen: 'changelog' },
  { label: '[7] THEMES',     screen: 'themes' },
  { label: '[?] HELP',       screen: '_help' },
];
---
<nav class="bbs-nav" aria-label="Main navigation">
  <div class="bbs-nav-inner">
    {navItems.map((item, i) => (
      <>
        {i > 0 && <span class="sep">&nbsp;·&nbsp;</span>}
        <button
          class={['nav-btn', item.brand ? 'nav-brand' : ''].filter(Boolean).join(' ')}
          data-nav-screen={item.screen}
          onclick={item.screen === '_help' ? 'KeyboardRouter.toggleHelp()' : `KeyboardRouter.switchScreen('${item.screen}')`}
        >{item.label}</button>
      </>
    ))}
  </div>
  <div class="node-status">
    NODE-001 &nbsp;|&nbsp; <span class="online">&#11044; ONLINE</span> &nbsp;|&nbsp; <span class="clock"></span>
  </div>
</nav>
